.Navigetion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    padding: 8px;
    background: #132068;
    border-radius: 0 0 20px 20px;
    color: darkgray;
    width: 150px;
    height: 75px;
    box-shadow: black 2px 2px 5px 1.5px, inset rgb(9, 2, 49) -2px -2px 5px 1.5px;
}

.NavEl {
    height: 55px;
    cursor: pointer;
    font-weight: bold;
}

.NavEl:hover {
    transition : color 0.1s;
    color: gray;
}