.Logo {
    margin:50px;
    padding: 10px;
    background: radial-gradient(circle, rgb(191, 106, 248) 10%, rgba(2,61,156,1) 90%);
    border-radius: 20px;
    width: 150px;
    height: 150px;
    
}

.Logo img {
    margin: 10px;
}

.Logo:hover {
    transition: box-shadow 0.5s;
    box-shadow: black 2px 2px 5px 1.5px, inset rgb(9, 2, 49) -2px -2px 5px 1.5px;
}