.Logo {
    margin: 15px;
    padding: 10px;
    background: radial-gradient(circle, rgb(191, 106, 248) 0%, rgba(2,61,156,1) 100%);
    border-radius: 20px;
    width: 150px;
    height: 150px;
    box-shadow: black 2px 2px 5px 1.5px, inset rgb(9, 2, 49) -2px -2px 5px 1.5px;
}

.Logo img {
    margin: 10px;
}