.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  
}
.TopNav {
  height: 180px;
  display: flex;
  justify-content: space-between;
}
.FetchImageBox {
  height: 70%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.Particles {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}