.App {
  height: 100%;
  
}
.TopNav {
  display: flex;
  justify-content: space-between;
  
}
.FetchImageBox {
}
.Particles {
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}